In [94]:
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings("ignore")

In [95]:
df= pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Yhills_June_2/main/pima-indians-diabetes-2.csv")

In [96]:
df.shape

(768, 9)

In [97]:
df.head()

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [99]:
df.describe()

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [100]:
median1= df['Plas'].median()
df['Plas']= df['Plas'].replace(0, median1)

median2= df['Pres'].median()
df['Pres']= df['Pres'].replace(0, median2)

median3= df['skin'].median()
df['skin']= df['skin'].replace(0, median3)

median4= df['test'].median()
df['test']= df['test'].replace(0, median4)

median5= df['mass'].median()
df['mass']= df['mass'].replace(0, median5)

median6= df['pedi'].median()
df['pedi']= df['pedi'].replace(0, median6)

median7= df['age'].median()
df['age']= df['age'].replace(0, median7)

In [101]:
df.describe()

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.386719,27.334635,94.652344,32.450911,0.471876,33.240885,0.348958
std,3.369578,30.438286,12.096642,9.229014,105.547598,6.875366,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,23.000000,30.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,31.250000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [102]:
X = df.drop(['class'], axis=1)
y= df[['class']]

In [103]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3, random_state=1)

In [104]:
model= LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [105]:
model.score(X_train, y_train)

0.7821229050279329

In [106]:
model.score(X_test, y_test)

0.7878787878787878

In [107]:
predictions= model.predict(X_test)

In [108]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.7878787878787878

In [109]:
from sklearn import metrics
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84       146
           1       0.77      0.60      0.68        85

    accuracy                           0.79       231
   macro avg       0.78      0.75      0.76       231
weighted avg       0.79      0.79      0.78       231

In [110]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[131,  15],
       [ 34,  51]])